<footer class="bg-white rounded-lg shadow m-4 backdrop-blur-lg w-full xl:w-[1120px] mx-auto">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="mailto:valentinmega3@gmail.com"class="hover:underline"
        >MegaValentin</a
      >. Reservados todos los derechos.
    </span>
    
  </div>
</footer>
