<a
  class="rounded-full border border-black/40 flex justify-center items-center text-xs lg:text-base gap-x-2 py-1 px-2 lg:py-2 md:px-4 bg-gray-200 hover:scale-110 hover:bg-gray-300 transition-all"
  {...Astro.props}
  target="_blank"
  rel="noopener"
>
  <slot />
</a>
 